@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-size: 14px;
  color: #000;
  font-family: "MyriadPro";
  font-weight: 400; }
  body.lock {
    overflow: hidden; }

a,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/** HelveticaNeue **/
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/helveticaneuecyr-light.eot");
  src: local("☺"), url("../fonts/helveticaneuecyr-light.woff") format("woff"), url("../fonts/helveticaneuecyr-light.ttf") format("truetype"), url("../fonts/helveticaneuecyr-light.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

/** MyriadPro **/
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

/** MyriadPro **/
@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro-Semibold.eot");
  src: local("☺"), url("../fonts/MyriadPro-Semibold.woff") format("woff"), url("../fonts/MyriadPro-Semibold.ttf") format("truetype"), url("../fonts/MyriadPro-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

/** SFCompactText **/
@font-face {
  font-family: "SFCompactText";
  src: url("../fonts/SF-Compact-Text-Bold.eot");
  src: local("☺"), url("../fonts/SF-Compact-Text-Bold.woff") format("woff"), url("../fonts/SF-Compact-Text-Bold.ttf") format("truetype"), url("../fonts/SF-Compact-Text-Bold.svg") format("svg");
  font-weight: 600;
  font-style: normal; }

/** LucidaGrande **/
@font-face {
  font-family: "LucidaGrande";
  src: url("../fonts/Lucida Grande.eot");
  src: local("☺"), url("../fonts/Lucida Grande.woff") format("woff"), url("../fonts/Lucida Grande.ttf") format("truetype"), url("../fonts/Lucida Grande.svg") format("svg");
  font-weight: 400;
  font-style: normal; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1055px;
  margin: 0px auto;
  padding: 0 15px; }

.header {
  position: relative;
  z-index: 3;
  padding: 61px 0px 0px 0px;
  background: url("../img/header/background.jpg") 0 0 no-repeat;
  background-size: cover; }
  .header__logo {
    font-family: "SFCompactText";
    font-size: 35.4px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #ffffff; }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -45px; }
  .header__column {
    padding: 0px 45px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .header__body {
    margin: 105px 0 0 0; }
  .header__text {
    max-width: 441px; }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header__icon {
    padding: 0 12.5px 0 0; }
  .header__title {
    padding: 0 0 0 12.5px;
    font-size: 32px;
    color: #fff; }
    .header__title span {
      display: block;
      font-weight: 600; }
  .header__subtitle {
    margin: 32px 0px 0px 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 24px;
    color: #fff; }
  .header__button {
    position: relative;
    margin: 16px 0px 0px 0px;
    width: 216px;
    height: 48px;
    background-color: #0d0d0d;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
  .header__link {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2; }
  .header__wrap {
    padding: 5px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -8px; }
  .header__row {
    padding: 0px 8px; }
  .header__label {
    margin: 0px 0px 2px 0px;
    font-family: LucidaGrande;
    display: block;
    font-size: 10.4px;
    letter-spacing: -0.035em;
    color: #ffffff; }
  .header__sublabel {
    font-family: LucidaGrande;
    font-size: 18.9px;
    letter-spacing: -0.035em;
    color: #ffffff; }
  .header__bottom {
    margin: 57px 0px 0px 0px; }
  .header__info {
    font-size: 16px;
    color: #ffffff; }
  .header__form {
    margin: 12px 0px 0px 0px; }
  .header__name {
    padding: 0px 0px 0px 10px;
    background-color: transparent;
    width: 296px;
    height: 48px;
    border: 2px solid #ffffff;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    .header__name::-webkit-input-placeholder {
      padding: 0px 0px 0px 2px;
      color: #fff; }
    .header__name:-ms-input-placeholder {
      padding: 0px 0px 0px 2px;
      color: #fff; }
    .header__name::-ms-input-placeholder {
      padding: 0px 0px 0px 2px;
      color: #fff; }
    .header__name::placeholder {
      padding: 0px 0px 0px 2px;
      color: #fff; }
    .header__name:focus {
      border: 2px solid #000; }
  .header__btn {
    -webkit-transform: translate(24px, 0);
    -ms-transform: translate(24px, 0);
    transform: translate(24px, 0);
    width: 136px; }
  .header__phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(40px, 7%);
    -ms-transform: translate(40px, 7%);
    transform: translate(40px, 7%); }
  .header__phone-one {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 272px;
    flex: 1 0 272px;
    -webkit-transition: all 0.7s ease-out 0s;
    -o-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s; }
    .header__phone-one img {
      max-width: 100%; }
    .header__phone-one:hover {
      -webkit-transform: translate(-10%, -3%);
      -ms-transform: translate(-10%, -3%);
      transform: translate(-10%, -3%); }
  .header__phone-two {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 272px;
    flex: 1 0 272px;
    -webkit-transform: translate(-50%, 7%);
    -ms-transform: translate(-50%, 7%);
    transform: translate(-50%, 7%); }
    .header__phone-two img {
      max-width: 100%; }
  @media (max-width: 1030px) {
    .header {
      padding: 40px 0px 40px 0px; }
      .header__wrapper {
        margin: 0px -25px; }
      .header__column {
        padding: 0px 25px; }
      .header__body {
        margin: 85px 0 0 0; }
      .header__bottom {
        margin: 37px 0px 0px 0px; }
      .header__btn {
        margin: 15px 0px 0px 0px;
        display: block;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
      .header__phones {
        -webkit-transform: translate(40px, 23%);
        -ms-transform: translate(40px, 23%);
        transform: translate(40px, 23%); }
      .header__phone-one {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
        flex: 1 0 200px; }
      .header__phone-two {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 200px;
        flex: 1 0 200px; } }
  @media (max-width: 860px) {
    .header__body {
      margin: 50px 0px 0px 0px; }
    .header__title {
      font-size: 27px; }
    .header__phones {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .header__phone-one {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
      flex: 0 0 170px; }
    .header__phone-two {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
      flex: 0 0 170px; } }
  @media (max-width: 768px) {
    .header__wrapper {
      display: block; }
    .header__bottom {
      margin: 57px 0px 0px 0px; }
    .header__phones {
      display: none; } }
  @media (max-width: 480px) {
    .header {
      padding: 20px 0px 15px 0px; }
      .header__body {
        margin: 35px 0 0 0; }
      .header__box {
        display: block; }
      .header__icon {
        display: none; }
      .header__title {
        padding: 0px;
        line-height: 28px; }
      .header__subtitle {
        margin: 16px 0px 0px 0px;
        max-width: 350px; }
      .header__button {
        margin: 20px 0px 0px 0px;
        width: 190px; }
      .header__bottom {
        margin: 37px 0px 0px 0px; }
      .header__name {
        width: 190px; }
      .header__btn {
        width: 100px; } }

.btn {
  position: relative;
  height: 48px;
  background-color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  overflow: hidden; }
  .btn p {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #3cd072; }
  .btn span {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%); }
    .btn span:nth-child(2) {
      -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
      transform: translate(0, 120%); }
  .btn:hover p {
    position: relative;
    z-index: 5;
    color: #fff; }
  .btn:hover span {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1; }
    .btn:hover span:nth-child(2) {
      -webkit-transform: translate(0, 50%);
      -ms-transform: translate(0, 50%);
      transform: translate(0, 50%); }
  .btn_bl {
    background-color: #000; }
    .btn_bl span {
      background-color: #3cd072; }
    .btn_bl:hover p {
      color: #000; }
  @media (max-width: 480px) {
    .btn {
      height: 38px; }
      .btn:hover span {
        -webkit-transform: translate(0, -48.5%);
        -ms-transform: translate(0, -48.5%);
        transform: translate(0, -48.5%); }
        .btn:hover span:nth-child(2) {
          -webkit-transform: translate(0, 48.5%);
          -ms-transform: translate(0, 48.5%);
          transform: translate(0, 48.5%); } }

.subheader {
  position: relative;
  z-index: 2;
  padding: 119px 0px 25px 0px;
  background-color: #f0f0f0; }
  .subheader__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .subheader__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
    .subheader__column_1 {
      -webkit-transform: translate(0, -14%);
      -ms-transform: translate(0, -14%);
      transform: translate(0, -14%); }
    .subheader__column_2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
  .subheader__phones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  .subheader__phone-one {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
    -webkit-transform: translate(0, 50px);
    -ms-transform: translate(0, 50px);
    transform: translate(0, 50px);
    margin: 0px 9px 0px 0px;
    -webkit-animation-name: phone-one;
    animation-name: phone-one;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }
    .subheader__phone-one img {
      max-width: 100%; }
  .subheader__phone-two {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 210px;
    flex: 0 0 210px;
    -webkit-transform: translate(0, -50px);
    -ms-transform: translate(0, -50px);
    transform: translate(0, -50px);
    margin: 0px 0px 0px 9px;
    -webkit-animation-name: phone-two;
    animation-name: phone-two;
    -webkit-animation-duration: 1.7s;
    animation-duration: 1.7s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }
    .subheader__phone-two img {
      max-width: 100%; }

@-webkit-keyframes phone-one {
  0% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px); }
  100% {
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); } }

@keyframes phone-one {
  0% {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px); }
  100% {
    -webkit-transform: translate(0, 70px);
    transform: translate(0, 70px); } }

@-webkit-keyframes phone-two {
  0% {
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px); }
  100% {
    -webkit-transform: translate(0, -70px);
    transform: translate(0, -70px); } }

@keyframes phone-two {
  0% {
    -webkit-transform: translate(0, -50px);
    transform: translate(0, -50px); }
  100% {
    -webkit-transform: translate(0, -70px);
    transform: translate(0, -70px); } }
  .subheader__body {
    max-width: 380px; }
  .subheader__row {
    margin: 40px 0px 0px 0px; }
  .subheader__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .subheader__item {
    padding: 0 12px 0 0; }
  .subheader__title {
    padding: 0px 0px 0px 12px;
    font-size: 24px;
    font-weight: 600;
    color: #3cd072; }
  .subheader__subtitle {
    margin: 15px 0px 0px 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
  @media (max-width: 1150px) {
    .subheader {
      padding: 70px 0px 45px 0px; }
      .subheader__column_1 {
        -webkit-transform: translate(6%, -5%);
        -ms-transform: translate(6%, -5%);
        transform: translate(6%, -5%); }
      .subheader__phone-one, .subheader__phone-two {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
        flex: 0 0 180px; } }
  @media (max-width: 960px) {
    .subheader {
      padding: 30px 0 50px 0; }
      .subheader__wrapper {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .subheader__column_1 {
        -webkit-transform: translate(7%, 0);
        -ms-transform: translate(7%, 0);
        transform: translate(7%, 0); }
      .subheader__row {
        margin: 30px 0px 0px 0px; }
      .subheader__phones {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0); }
      .subheader__phone-one {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        -webkit-transform: translate(45px, 0);
        -ms-transform: translate(45px, 0);
        transform: translate(45px, 0); }
      .subheader__phone-two {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        -webkit-transform: translate(-40px, 20px);
        -ms-transform: translate(-40px, 20px);
        transform: translate(-40px, 20px); } }
  @media (max-width: 768px) {
    .subheader {
      padding: 10px 0 50px 0; }
      .subheader__column_1 {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0); }
      .subheader__phone-one {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        -webkit-transform: translate(45px, 0);
        -ms-transform: translate(45px, 0);
        transform: translate(45px, 0); }
      .subheader__phone-two {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 150px;
        flex: 0 0 150px;
        -webkit-transform: translate(-80px, 40px);
        -ms-transform: translate(-80px, 40px);
        transform: translate(-80px, 40px); }
    @-webkit-keyframes phone-one {
      0% {
        -webkit-transform: translate(45px, 0);
        transform: translate(45px, 0); }
      100% {
        -webkit-transform: translate(55px, 0);
        transform: translate(55px, 0); } }
    @keyframes phone-one {
      0% {
        -webkit-transform: translate(45px, 0);
        transform: translate(45px, 0); }
      100% {
        -webkit-transform: translate(55px, 0);
        transform: translate(55px, 0); } }
    @-webkit-keyframes phone-two {
      0% {
        -webkit-transform: translate(-80px, 40px);
        transform: translate(-80px, 40px); }
      100% {
        -webkit-transform: translate(-80px, 50px);
        transform: translate(-80px, 50px); } }
    @keyframes phone-two {
      0% {
        -webkit-transform: translate(-80px, 40px);
        transform: translate(-80px, 40px); }
      100% {
        -webkit-transform: translate(-80px, 50px);
        transform: translate(-80px, 50px); } }
      .subheader__item {
        padding: 0 9px 0 0; }
      .subheader__title {
        padding: 0px 0px 0px 9px; }
      .subheader__subtitle {
        margin: 10px 0px 0px 0px;
        font-size: 14px;
        line-height: 22px; } }
  @media (max-width: 630px) {
    .subheader {
      padding: 10px 0 40px 0; }
      .subheader__wrapper {
        display: block; }
      .subheader__column_1 {
        display: none; }
      .subheader__column_2 {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .subheader__body {
        text-align: center; }
      .subheader__box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .subheader__title {
        font-size: 20px; } }
  @media (max-width: 400px) {
    .subheader {
      padding: 0px 0 20px 0; }
      .subheader__row {
        margin: 25px 0px 0px 0px; } }

.easy {
  position: relative;
  z-index: 1;
  padding: 48px 0px 170px 0px; }
  .easy__logo {
    text-align: center; }
  .easy__title {
    margin: 31px 0px 0px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #000000; }
  .easy__subtitle {
    margin: 16px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #3cd072; }
  .easy__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 44px -12.5px 0 -12.5px; }
  .easy__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 33.333%;
    flex: 0 1 33.333%;
    padding: 0 12.5px; }
  @media (max-width: 1050px) {
    .easy {
      padding: 48px 0px 260px 0px; } }
  @media (max-width: 950px) {
    .easy__wrapper {
      position: relative;
      margin: 64px 0px 0px 0px; }
    .easy__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%;
      padding: 0px 0px 0px 0px; }
    .easy__wrapper .slick-arrow {
      margin: -15px 0px 0px 0px;
      position: absolute;
      top: 40%;
      z-index: 10;
      font-size: 0;
      width: 15px;
      height: 30px; }
    .easy__wrapper .slick-arrow.slick-prev {
      background: url("../img/easy/arrow_l.png") 0 0/100% no-repeat;
      left: 15px; } }
  @media (max-width: 950px) and (max-width: 650px) {
    .easy__wrapper .slick-arrow.slick-prev {
      left: 35px; } }
  @media (max-width: 950px) and (max-width: 450px) {
    .easy__wrapper .slick-arrow.slick-prev {
      left: 15px; } }
  @media (max-width: 950px) and (max-width: 380px) {
    .easy__wrapper .slick-arrow.slick-prev {
      left: 5px; } }
  @media (max-width: 950px) {
    .easy__wrapper .slick-arrow.slick-next {
      background: url("../img/easy/arrow_r.png") 0 0/100% no-repeat;
      right: 15px; } }
  @media (max-width: 950px) and (max-width: 650px) {
    .easy__wrapper .slick-arrow.slick-next {
      right: 35px; } }
  @media (max-width: 950px) and (max-width: 450px) {
    .easy__wrapper .slick-arrow.slick-next {
      right: 15px; } }
  @media (max-width: 950px) and (max-width: 380px) {
    .easy__wrapper .slick-arrow.slick-next {
      right: 5px; } }
  @media (max-width: 950px) {
    .easy__column {
      padding: 0px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
      flex: 0 1 50%; } }
  @media (max-width: 768px) {
    .easy {
      padding: 30px 0px 260px 0px; }
      .easy__title {
        margin: 18px 0px 0px 0px;
        font-size: 20px; }
      .easy__subtitle {
        margin: 10px 0px 0px 0px;
        font-size: 30px; }
      .easy__wrapper {
        margin: 44px 0px 0px 0px; } }
  @media (max-width: 650px) {
    .easy__column {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .easy__subtitle {
      font-size: 26px; } }

.item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .item__text {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 28px 0px 0px 0px;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #000000; }
  .item__image {
    margin: 50px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .item__image:hover {
      -webkit-transform: translate(0, -5%);
      -ms-transform: translate(0, -5%);
      transform: translate(0, -5%); }
  .item__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 295px;
    flex: 0 1 295px;
    cursor: pointer; }
    .item__img img {
      max-width: 100%; }
  @media (max-width: 1050px) {
    .item__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
      flex: 0 1 200px; } }
  @media (max-width: 950px) {
    .item__text {
      max-width: 300px;
      font-size: 22px; }
    .item__image {
      margin: 30px 0px 0px 0px; } }
  @media (max-width: 768px) {
    .item__text {
      margin: 18px 0px 0px 0px;
      max-width: 250px;
      font-size: 20px;
      line-height: 26px; }
    .item__image {
      margin: 15px 0px 0px 0px; } }

.slick-list {
  position: relative;
  width: 100%;
  overflow: hidden; }

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.slick-slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative; }

.products {
  padding: 79px 0 0 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 430px;
  bottom: 0;
  left: 0;
  background-color: #000; }
  .products__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff; }
  .products__subtitle {
    margin: 16px 0px 0px 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #3cd072; }
  .products__slider {
    margin: 52px 0px 0px 0px;
    position: relative;
    cursor: pointer; }
  .products__slider .slick-dots {
    margin: 43px 0px 0px 0px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .products__slider .slick-dots li {
    margin: 0px 5px; }
  .products__slider .slick-dots li.slick-active button {
    background-color: #fff;
    border: 0px solid #000; }
  .products__slider .slick-dots li button {
    -webkit-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    font-size: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff; }
  .products__slide {
    text-align: center; }
  @media (max-width: 1000px) {
    .products {
      padding: 59px 0 0 0;
      height: 430px; } }
  @media (max-width: 540px) {
    .products {
      padding: 39px 0 90px 0; }
      .products__subtitle {
        font-size: 30px; }
      .products__slider .slick-dots {
        margin: 60px 0px 0px 0px; } }
  @media (max-width: 410px) {
    .products {
      height: 400px; }
      .products__title {
        font-size: 22px; }
      .products__subtitle {
        margin: 8px 0px 0px 0px;
        font-size: 26px;
        line-height: 30px; } }

.running {
  background: url("../img/running/bg.jpg") 0 0 no-repeat;
  background-size: cover;
  padding: 70px 0px 0 0px;
  position: relative; }
  .running__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .running__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  .running__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .running__image {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 72px;
    flex: 0 1 72px; }
    .running__image img {
      width: 100%; }
  .running__label {
    margin: 0px 0px 0px 28px;
    font-family: MyriadPro;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff; }
  .running__sublabel {
    margin: 20px 0px 32px 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    max-width: 450px; }
  .running__line {
    margin: 20px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .running__text {
    margin: 0px 0px 0px 24px;
    max-width: 300px;
    font-family: MyriadPro;
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    color: #ffffff; }
  .running__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .running__item {
    margin: 0px 9px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; }
    .running__item_1 {
      bottom: -247px; }
      .running__item_1:hover {
        bottom: -227px; }
    .running__item_2 {
      bottom: -160px; }
      .running__item_2:hover {
        bottom: -140px; }
    .running__item_3 {
      bottom: -47px; }
      .running__item_3:hover {
        bottom: -27px; }
  @media (max-width: 1040px) {
    .running {
      padding: 50px 0px 0px 0px; }
      .running__item_1 {
        display: none; } }
  @media (max-width: 870px) {
    .running__row {
      display: block; }
    .running__image {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 50px;
      flex: 0 1 50px; }
    .running__label {
      margin: 0px 0px 0px 15px;
      font-size: 34px; }
    .running__text {
      margin: 0px 0px 0px 15px; }
    .running__item {
      text-align: center; }
      .running__item_2 {
        display: none; } }
  @media (max-width: 760px) {
    .running {
      padding: 30px 0px 0px 0px; }
      .running__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .running__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%; }
        .running__column_2 {
          display: none;
          visibility: hidden; }
      .running__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
        flex: 0 0 50px; }
        .running__img img {
          width: 100%; }
      .running__text {
        margin: 0px 0px 0px 10px; }
      .running__item_3 {
        display: none; } }
  @media (max-width: 400px) {
    .running__image {
      display: none; }
    .running__label {
      margin: 0px;
      font-size: 30px; }
    .running__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
      flex: 0 0 30px; }
      .running__img img {
        width: 100%; } }

.running-form {
  padding: 55px 0px 50px 0px;
  position: relative;
  background-color: #f0f0f0;
  bottom: 0px; }
  .running-form__main {
    display: inline; }
  .running-form__title {
    font-family: MyriadPro;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;
    margin: 0px 0px 19px 0px; }
  .running-form__input {
    width: 696px;
    height: 48px;
    background-color: #ffffff;
    border: 2px solid #3cd072;
    padding: 0px 15px;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s; }
    .running-form__input:focus {
      border: 2px solid #000; }
  .running-form__button {
    display: inline-block;
    width: 216px;
    font-family: MyriadPro;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #3cd072;
    margin: 0px 0px 0px 24px; }
  @media (max-width: 980px) {
    .running-form {
      padding: 40px 0px;
      text-align: center; }
      .running-form__input {
        margin: 15px 0px 0px 0px;
        width: 450px; }
      .running-form__button {
        width: 150px;
        margin: 20px auto 0px auto;
        display: block; } }
  @media (max-width: 500px) {
    .running-form {
      padding: 30px 0px; }
      .running-form__input {
        width: 100%; } }
  @media (max-width: 400px) {
    .running-form__title {
      font-size: 22px; } }

::-webkit-input-placeholder {
  color: #3cd072; }

::-moz-placeholder {
  color: #3cd072; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #3cd072; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #3cd072; }

.watch {
  padding: 75px 0px; }
  .watch__image {
    text-align: center; }
  .watch__title {
    margin: 28px 0px 16px 0px;
    text-align: center;
    font-family: MyriadPro;
    font-size: 24px;
    font-weight: 600;
    color: #000000; }
  .watch__subtitle {
    text-align: center;
    font-family: MyriadPro;
    font-size: 36px;
    font-weight: 600;
    color: #3cd072; }
  .watch__text {
    max-width: 650px;
    margin: 35px auto 0 auto;
    text-align: center;
    font-family: HelveticaNeue;
    font-size: 16px;
    line-height: 24px;
    color: #000000; }
  .watch__watches {
    margin: 60px 0px 80px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .watch__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 407px;
    flex: 0 1 407px;
    -webkit-animation-name: watches;
    animation-name: watches;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate; }
    .watch__img img {
      width: 100%; }

@-webkit-keyframes watches {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes watches {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
  .watch__link {
    width: 296px;
    height: 48px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  @media (max-width: 960px) {
    .watch {
      padding: 50px 0px; }
      .watch__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 250px;
        flex: 0 1 250px; } }
  @media (max-width: 550px) {
    .watch {
      padding: 30px 0px; }
      .watch__title {
        font-size: 22px;
        margin: 20px 0px 8px 0px; }
      .watch__subtitle {
        font-size: 34px; }
      .watch__text {
        font-size: 14px;
        line-height: 22px;
        margin: 27px 0px 0px 0px; }
      .watch__watches {
        margin: 40px 0px 40px 0px; }
      .watch__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 180px;
        flex: 0 1 180px; } }
  @media (max-width: 400px) {
    .watch__watches {
      margin: 30px 0px 30px 0px; }
    .watch__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 140px;
      flex: 0 1 140px; } }

.top {
  padding: 20px 0px 95px 0px; }
  .top__title {
    margin: 0px 0px 41px 0px;
    font-family: MyriadPro;
    font-size: 36px;
    font-weight: 600;
    color: #3cd072; }
  .top__column {
    margin: 25px 0px 25px 0px; }
    .top__column:after {
      display: block;
      content: "";
      background-color: #adadad;
      width: 100%;
      height: 0.5px;
      margin: 19px 0px 0px 0px; }
    .top__column:first-child:before {
      display: block;
      content: "";
      background-color: #adadad;
      width: 100%;
      height: 0.5px;
      margin: 0px 0px 19px 0px; }
  .top__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .top__image {
    margin: 0px 23px; }
  .top__main {
    margin: 0px 45px 0px 0px;
    width: 260px; }
  .top__label {
    font-family: MyriadPro;
    font-size: 32px;
    font-weight: 600;
    color: #3cd072; }
  .top__text {
    margin: 15px 0px 13px 0px;
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 300;
    color: #000000; }
  .top__sublabel {
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    margin: 0px 0px 20px 0px; }
  .top__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .top__vector {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 48px;
    flex: 0 1 48px; }
    .top__vector img {
      max-width: 100%; }
  .top__number {
    margin: 0px 0px 0px 15px;
    font-family: HelveticaNeue;
    font-size: 68px;
    font-weight: 100;
    color: #000000; }
  @media (max-width: 890px) {
    .top__number {
      font-size: 45px; } }
  @media (max-width: 800px) {
    .top__title {
      text-align: center;
      margin: 0px 0px 20px 0px; }
    .top__items {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .top__image {
      margin: 0px 15px 10px 23px; }
    .top__main {
      margin: 0px 0px 0px 38px; }
    .top__info {
      margin: 30px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      text-align: center; }
    .top__sublabel {
      margin: 0px 0px 10px 0px; }
    .top__numbers {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .top__vector {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 38px;
      flex: 0 1 38px; }
    .top__number {
      font-size: 35px;
      margin: 0px 0px 0px 10px; } }
  @media (max-width: 590px) {
    .top {
      padding: 20px 0px 30px 0px; }
      .top__image {
        display: none; } }
  @media (max-width: 490px) {
    .top__title {
      font-size: 30px;
      line-height: 32px; }
    .top__column {
      margin: 15px 0; }
    .top__label {
      font-size: 28px; }
    .top__text {
      font-size: 22px;
      margin: 10px 0px; }
    .top__info {
      margin: 10px 0px 0px 0px; } }
  @media (max-width: 425px) {
    .top__photo {
      text-align: center;
      margin: 0px 0px 20px 0px; }
    .top__main {
      margin: 0px 0px 0px 0px;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%; }
    .top__info {
      margin: 20px 0px 10px 0px; }
    .top__label {
      text-align: center; }
    .top__text {
      margin: 10px 0;
      text-align: center; } }

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .rating_sending {
    opacity: 0.2; }
  .rating_set .rating__active,
  .rating_set .rating__item {
    cursor: pointer; }
  .rating__body {
    display: inline-block;
    position: relative; }
    .rating__body:before {
      content: "★★★★★";
      display: block; }
  .rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden; }
    .rating__active:before {
      content: "★★★★★";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #ffd300; }
  .rating__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .rating__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    height: 100%;
    opacity: 0; }
  .rating__value {
    display: none;
    opacity: 0; }
  .rating__out {
    margin: 0px 0px 0px 12px;
    display: inline-block;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    color: #b3b3b3; }
  @media (max-width: 425px) {
    .rating {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
