// <MAIN> ===================================================================
.main {
	position: relative;
	min-height: 100vh;
	&__mainscreen {
		position: fixed;
		min-height: 100vh;
		z-index: 2;
		width: 100%;
		top: 0;
		left: 0;
		background: url("../img/background.png") 0 0 no-repeat;
		background-size: cover;
	}
	@media (max-width: 480px) {
		&__mainscreen {
			background: url("../img/background_mob.png") 0 0 no-repeat;
			background-size: cover;
		}
	}
}
// <MAIN> ===================================================================
.page {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}
// <SCREEN> ===================================================================
.screen {
	&__wrapper {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__button {
		position: relative;
		z-index: 4;
		overflow: hidden;
		border-radius: 5px;
		& span {
			position: absolute;
			z-index: 3;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #fff;
		}
		&:hover span {
			transform: translate(0, 0%);
		}
	}

	&__btn {
		position: relative;
		z-index: 2;
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		text-align: center;
		display: block;
		width: 180px;
		line-height: 55px;
		border-radius: 5px;
		border: 1.5px solid #fff;
		color: #fff;
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 2.5px;
		transition: all 0.4s ease-out 0s;
		&:hover {
			color: #000;
		}
	}

	&__arrow {
		position: absolute;
		z-index: 3;
		left: 50%;
		transform: translate(-50%, 0);
		animation-name: arrow;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	@keyframes arrow {
		0% {
			bottom: 7%;
		}
		100% {
			bottom: 5%;
		}
	}

	&__link {
	}
	@media (max-width: 480px) {
		@keyframes arrow {
			0% {
				bottom: 17%;
			}
			100% {
				bottom: 15%;
			}
		}
	}
	@media (max-width: 400px) {
		&__btn {
			width: 140px;
			line-height: 50px;
		}
	}
}

.about {
	padding: 70px 0px;
	background-color: #f1f9f9;
	&__title {
	}
	&__text {
		padding: 0px 15px;
		font-size: 20px;
		line-height: 30px;
		text-align: center;
		max-width: 800px;
		margin: 30px auto 0 auto;
	}
	@media (max-width: 970px) {
		padding: 50px 0px;
	}
	@media (max-width: 768px) {
		&__text {
			font-size: 18px;
			max-width: 600px;
		}
	}
	@media (max-width: 480px) {
		padding: 30px 0px;
		&__text {
			margin: 20px auto 0 auto;
			font-size: 16px;
			line-height: 26px;
		}
	}
}

.title {
	text-align: center;
	&__label {
		color: rgba(165, 122, 80, 1);
		font-size: 30px;
		letter-spacing: 1.3px;
		font-weight: 300;
		text-transform: uppercase;
	}
	&__image {
		display: inline-block;
		margin: 16px 0px 0px 0px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 90px;
			height: 1px;
			top: 50%;
			right: 45px;
			background-color: #3d2d29;
		}
		&:after {
			content: "";
			position: absolute;
			width: 90px;
			height: 1px;
			top: 50%;
			left: 45px;
			background-color: #3d2d29;
		}
	}
	@media (max-width: 480px) {
		&__label {
			font-size: 28px;
		}
		&__image {
			margin: 9px 0px 0px 0px;
			&:before,
			&:after {
				width: 70px;
			}
		}
	}
}
