// <SUBHEADER> ===================================================================

.subheader {
	position: relative;
	z-index: 2;
	padding: 119px 0px 25px 0px;
	background-color: #f0f0f0;
	&__wrapper {
		display: flex;
	}

	&__column {
		flex: 0 1 50%;
		&_1 {
			transform: translate(0, -14%);
		}
		&_2 {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}

	&__phones {
		display: flex;
		transform: rotate(-30deg);
	}

	&__phone-one {
		flex: 0 0 210px;
		transform: translate(0, 50px);
		margin: 0px 9px 0px 0px;

		animation-name: phone-one;
		animation-duration: 1.7s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		& img {
			max-width: 100%;
		}
	}

	&__phone-two {
		flex: 0 0 210px;
		transform: translate(0, -50px);
		margin: 0px 0px 0px 9px;

		animation-name: phone-two;
		animation-duration: 1.7s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		& img {
			max-width: 100%;
		}
	}

	@keyframes phone-one {
		0% {
			transform: translate(0, 50px);
		}
		100% {
			transform: translate(0, 70px);
		}
	}

	@keyframes phone-two {
		0% {
			transform: translate(0, -50px);
		}
		100% {
			transform: translate(0, -70px);
		}
	}

	&__body {
		max-width: 380px;
	}

	&__row {
		margin: 40px 0px 0px 0px;
	}
	&__box {
		display: flex;
		align-items: center;
	}
	&__item {
		padding: 0 12px 0 0;
	}

	&__title {
		padding: 0px 0px 0px 12px;
		font-size: 24px;
		font-weight: 600;
		color: #3cd072;
	}

	&__subtitle {
		margin: 15px 0px 0px 0px;
		font-family: HelveticaNeue;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
	}
	@media (max-width: 1150px) {
		padding: 70px 0px 45px 0px;
		&__column {
			&_1 {
				transform: translate(6%, -5%);
			}
		}
		&__phone-one,
		&__phone-two {
			flex: 0 0 180px;
		}
	}
	@media (max-width: 960px) {
		padding: 30px 0 50px 0;
		&__wrapper {
			align-items: center;
		}
		&__column {
			&_1 {
				transform: translate(7%, 0);
			}
		}
		&__row {
			margin: 30px 0px 0px 0px;
		}
		&__phones {
			transform: rotate(0);
		}
		&__phone-one {
			flex: 0 0 150px;
			transform: translate(45px, 0);
		}
		&__phone-two {
			flex: 0 0 150px;
			transform: translate(-40px, 20px);
		}
	}
	@media (max-width: 768px) {
		padding: 10px 0 50px 0;
		&__column {
			&_1 {
				transform: translate(0, 0);
			}
		}
		&__phone-one {
			flex: 0 0 150px;
			transform: translate(45px, 0);
		}
		&__phone-two {
			flex: 0 0 150px;
			transform: translate(-80px, 40px);
		}

		@keyframes phone-one {
			0% {
				transform: translate(45px, 0);
			}
			100% {
				transform: translate(55px, 0);
			}
		}

		@keyframes phone-two {
			0% {
				transform: translate(-80px, 40px);
			}
			100% {
				transform: translate(-80px, 50px);
			}
		}

		&__item {
			padding: 0 9px 0 0;
		}
		&__title {
			padding: 0px 0px 0px 9px;
		}
		&__subtitle {
			margin: 10px 0px 0px 0px;
			font-size: 14px;
			line-height: 22px;
		}
	}
	@media (max-width: 630px) {
		padding: 10px 0 40px 0;
		&__wrapper {
			display: block;
		}
		&__column {
			&_1 {
				display: none;
			}
			&_2 {
				align-items: center;
			}
		}
		&__body {
			text-align: center;
		}
		&__box {
			justify-content: center;
		}
		&__title {
			font-size: 20px;
		}
	}
	@media (max-width: 400px) {
		padding: 0px 0 20px 0;
		&__row {
			margin: 25px 0px 0px 0px;
		}
	}
}

// <EASY> ===================================================================

.easy {
	position: relative;
	z-index: 1;
	padding: 48px 0px 170px 0px;
	&__logo {
		text-align: center;
	}

	&__title {
		margin: 31px 0px 0px 0px;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: #000000;
	}

	&__subtitle {
		margin: 16px 0px 0px 0px;
		text-align: center;
		font-size: 36px;
		font-weight: 600;
		color: #3cd072;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 44px -12.5px 0 -12.5px;
	}

	&__column {
		flex: 0 1 33.333%;
		padding: 0 12.5px;
	}

	&__item {
	}
	@media (max-width: 1050px) {
		padding: 48px 0px 260px 0px;
	}
	@media (max-width: 950px) {
		&__wrapper {
			position: relative;
			margin: 64px 0px 0px 0px;
		}
		&__column {
			flex: 0 1 50%;
			padding: 0px 0px 0px 0px;
		}
		&__wrapper .slick-arrow {
			margin: -15px 0px 0px 0px;
			position: absolute;
			top: 40%;
			z-index: 10;
			font-size: 0;
			width: 15px;
			height: 30px;
		}
		&__wrapper .slick-arrow.slick-prev {
			background: url("../img/easy/arrow_l.png") 0 0 / 100% no-repeat;
			left: 15px;
			@media (max-width: 650px) {
				left: 35px;
			}
			@media (max-width: 450px) {
				left: 15px;
			}
			@media (max-width: 380px) {
				left: 5px;
			}
		}
		&__wrapper .slick-arrow.slick-next {
			background: url("../img/easy/arrow_r.png") 0 0 / 100% no-repeat;
			right: 15px;
			@media (max-width: 650px) {
				right: 35px;
			}
			@media (max-width: 450px) {
				right: 15px;
			}
			@media (max-width: 380px) {
				right: 5px;
			}
		}
		&__column {
			padding: 0px 0px 0px 0px;
			flex: 0 1 50%;
		}
	}
	@media (max-width: 768px) {
		padding: 30px 0px 260px 0px;
		&__title {
			margin: 18px 0px 0px 0px;
			font-size: 20px;
		}
		&__subtitle {
			margin: 10px 0px 0px 0px;
			font-size: 30px;
		}
		&__wrapper {
			margin: 44px 0px 0px 0px;
		}
	}
	@media (max-width: 650px) {
		&__column {
			flex: 0 1 100%;
		}
		&__subtitle {
			font-size: 26px;
		}
	}
}
.item {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__text {
		flex: 1 1 auto;
		margin: 28px 0px 0px 0px;
		text-align: center;
		font-size: 24px;
		line-height: 32px;
		font-weight: 600;
		color: #000000;
	}

	&__image {
		margin: 50px 0px 0px 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.5s ease 0s;
		&:hover {
			transform: translate(0, -5%);
		}
	}
	&__img {
		flex: 0 1 295px;
		cursor: pointer;
		& img {
			max-width: 100%;
		}
	}
	@media (max-width: 1050px) {
		&__img {
			flex: 0 1 200px;
		}
	}
	@media (max-width: 950px) {
		&__text {
			max-width: 300px;
			font-size: 22px;
		}
		&__image {
			margin: 30px 0px 0px 0px;
		}
	}
	@media (max-width: 768px) {
		&__text {
			margin: 18px 0px 0px 0px;
			max-width: 250px;
			font-size: 20px;
			line-height: 26px;
		}
		&__image {
			margin: 15px 0px 0px 0px;
		}
	}
}

.slick-list {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.slick-track {
	display: flex;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	align-items: flex-start;
}
.slick-slide {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

// <PRODUCTS> ===================================================================

.products {
	padding: 79px 0 0 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 430px;
	bottom: 0;
	left: 0;
	background-color: #000;

	&__title {
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: #ffffff;
	}

	&__subtitle {
		margin: 16px 0px 0px 0px;
		text-align: center;
		font-size: 36px;
		font-weight: 600;
		color: #3cd072;
	}

	&__slider {
		margin: 52px 0px 0px 0px;
		position: relative;
		cursor: pointer;
	}

	&__slider .slick-dots {
		margin: 43px 0px 0px 0px;
		position: absolute;
		display: flex;
		left: 50%;
		transform: translate(-50%, 0);
	}
	&__slider .slick-dots li {
		margin: 0px 5px;
	}
	&__slider .slick-dots li.slick-active button {
		background-color: #fff;
		border: 0px solid #000;
	}
	&__slider .slick-dots li button {
		transition: all 0.2s linear 0s;
		font-size: 0;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: transparent;
		border: 2px solid #fff;
	}
	&__slide {
		text-align: center;
	}
	@media (max-width: 1000px) {
		padding: 59px 0 0 0;
		height: 430px;
	}
	@media (max-width: 540px) {
		padding: 39px 0 90px 0;
		&__subtitle {
			font-size: 30px;
		}
		&__slider .slick-dots {
			margin: 60px 0px 0px 0px;
		}
	}
	@media (max-width: 410px) {
		height: 400px;
		&__title {
			font-size: 22px;
		}
		&__subtitle {
			margin: 8px 0px 0px 0px;
			font-size: 26px;
			line-height: 30px;
		}
	}
}

// <RUNNING> ===================================================================

.running {
	background: url("../img/running/bg.jpg") 0 0 no-repeat;
	background-size: cover;
	padding: 70px 0px 0 0px;
	position: relative;
	&__wrapper {
		display: flex;
	}

	&__column {
		flex: 0 1 50%;
	}

	&__top {
		display: flex;
		align-items: center;
	}

	&__image {
		flex: 0 1 72px;
		& img {
			width: 100%;
		}
	}

	&__label {
		margin: 0px 0px 0px 28px;
		font-family: MyriadPro;
		font-size: 36px;
		font-weight: 600;
		color: #ffffff;
	}

	&__sublabel {
		margin: 20px 0px 32px 0px;
		font-family: HelveticaNeue;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
		max-width: 450px;
	}

	&__list {
	}

	&__line {
		margin: 20px 0px;
		display: flex;
		align-items: center;
	}

	&__img {
	}

	&__text {
		margin: 0px 0px 0px 24px;
		max-width: 300px;
		font-family: MyriadPro;
		font-size: 22px;
		line-height: 26px;
		font-weight: 600;
		color: #ffffff;
	}

	&__row {
		display: flex;
	}
	&__item {
		margin: 0px 9px;
		position: relative;
		cursor: pointer;
		transition: all 0.5s ease 0s;
		&_1 {
			bottom: -247px;
			&:hover {
				bottom: -227px;
			}
		}
		&_2 {
			bottom: -160px;
			&:hover {
				bottom: -140px;
			}
		}
		&_3 {
			bottom: -47px;
			&:hover {
				bottom: -27px;
			}
		}
	}
	@media (max-width: 1040px) {
		padding: 50px 0px 0px 0px;
		&__item {
			&_1 {
				display: none;
			}
		}
	}
	@media (max-width: 870px) {
		&__row {
			display: block;
		}
		&__image {
			flex: 0 1 50px;
		}
		&__label {
			margin: 0px 0px 0px 15px;
			font-size: 34px;
		}
		&__text {
			margin: 0px 0px 0px 15px;
		}
		&__item {
			text-align: center;
			&_2 {
				display: none;
			}
		}
	}
	@media (max-width: 760px) {
		padding: 30px 0px 0px 0px;
		&__wrapper {
			display: flex;
			justify-content: center;
		}
		&__column {
			flex: 0 1 100%;
			&_2 {
				display: none;
				visibility: hidden;
			}
		}
		&__img {
			flex: 0 0 50px;
			& img {
				width: 100%;
			}
		}
		&__text {
			margin: 0px 0px 0px 10px;
		}
		&__item {
			&_3 {
				display: none;
			}
		}
	}
	@media (max-width: 400px) {
		&__image {
			display: none;
		}
		&__label {
			margin: 0px;
			font-size: 30px;
		}
		&__img {
			flex: 0 0 30px;
			& img {
				width: 100%;
			}
		}
	}
}
.running-form {
	padding: 55px 0px 50px 0px;
	position: relative;
	background-color: #f0f0f0;
	bottom: 0px;
	&__wrapper {
	}

	&__main {
		display: inline;
	}

	&__title {
		font-family: MyriadPro;
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;
		color: #000000;
		margin: 0px 0px 19px 0px;
	}

	&__input {
		width: 696px;
		height: 48px;
		background-color: #ffffff;
		border: 2px solid #3cd072;
		padding: 0px 15px;
		transition: all 0.6s ease 0s;
		&:focus {
			border: 2px solid #000;
		}
	}

	&__button {
		display: inline-block;
		width: 216px;
		font-family: MyriadPro;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		color: #3cd072;
		margin: 0px 0px 0px 24px;
	}
	@media (max-width: 980px) {
		padding: 40px 0px;
		text-align: center;
		&__input {
			margin: 15px 0px 0px 0px;
			width: 450px;
		}
		&__button {
			width: 150px;
			margin: 20px auto 0px auto;
			display: block;
		}
	}

	@media (max-width: 500px) {
		padding: 30px 0px;
		&__input {
			width: 100%;
		}
	}
	@media (max-width: 400px) {
		&__title {
			font-size: 22px;
		}
	}
}

::-webkit-input-placeholder {
	color: #3cd072;
}
::-moz-placeholder {
	color: #3cd072;
} /* Firefox 19+ */
:-moz-placeholder {
	color: #3cd072;
} /* Firefox 18- */
:-ms-input-placeholder {
	color: #3cd072;
}

// <WATCH> ===================================================================

.watch {
	padding: 75px 0px;
	&__image {
		text-align: center;
	}

	&__title {
		margin: 28px 0px 16px 0px;
		text-align: center;
		font-family: MyriadPro;
		font-size: 24px;
		font-weight: 600;
		color: #000000;
	}

	&__subtitle {
		text-align: center;
		font-family: MyriadPro;
		font-size: 36px;
		font-weight: 600;
		color: #3cd072;
	}

	&__text {
		max-width: 650px;
		margin: 35px auto 0 auto;
		text-align: center;
		font-family: HelveticaNeue;
		font-size: 16px;
		line-height: 24px;
		color: #000000;
	}
	&__watches {
		margin: 60px 0px 80px 0px;
		display: flex;
		justify-content: center;
	}
	&__img {
		flex: 0 1 407px;
		& img {
			width: 100%;
		}
		animation-name: watches;
		animation-duration: 1.5s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
	@keyframes watches {
		0% {
			transform: scale(0.9);
		}
		100% {
			transform: scale(1);
		}
	}

	&__link {
		width: 296px;
		height: 48px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 960px) {
		padding: 50px 0px;
		&__img {
			flex: 0 1 250px;
		}
	}
	@media (max-width: 550px) {
		padding: 30px 0px;
		&__title {
			font-size: 22px;
			margin: 20px 0px 8px 0px;
		}
		&__subtitle {
			font-size: 34px;
		}
		&__text {
			font-size: 14px;
			line-height: 22px;
			margin: 27px 0px 0px 0px;
		}
		&__watches {
			margin: 40px 0px 40px 0px;
		}
		&__img {
			flex: 0 1 180px;
		}
	}
	@media (max-width: 400px) {
		&__watches {
			margin: 30px 0px 30px 0px;
		}
		&__img {
			flex: 0 1 140px;
		}
	}
}

// <TOP> ===================================================================

.top {
	padding: 20px 0px 95px 0px;
	&__title {
		margin: 0px 0px 41px 0px;
		font-family: MyriadPro;
		font-size: 36px;
		font-weight: 600;
		color: #3cd072;
	}

	&__wrapper {
	}

	&__column {
		margin: 25px 0px 25px 0px;
		&:after {
			display: block;
			content: "";
			background-color: #adadad;
			width: 100%;
			height: 0.5px;
			margin: 19px 0px 0px 0px;
		}
		&:first-child {
			&:before {
				display: block;
				content: "";
				background-color: #adadad;
				width: 100%;
				height: 0.5px;
				margin: 0px 0px 19px 0px;
			}
		}
	}

	&__items {
		display: flex;
	}

	&__photo {
	}

	&__image {
		margin: 0px 23px;
	}

	&__main {
		margin: 0px 45px 0px 0px;
		width: 260px;
	}

	&__label {
		font-family: MyriadPro;
		font-size: 32px;
		font-weight: 600;
		color: #3cd072;
	}

	&__text {
		margin: 15px 0px 13px 0px;
		font-family: HelveticaNeue;
		font-size: 24px;
		font-weight: 300;
		color: #000000;
	}

	&__rating {
	}

	&__info {
	}

	&__sublabel {
		font-family: HelveticaNeue;
		font-size: 24px;
		font-weight: 300;
		color: #000000;
		margin: 0px 0px 20px 0px;
	}

	&__numbers {
		display: flex;
		align-items: center;
	}

	&__vector {
		flex: 0 1 48px;
		& img {
			max-width: 100%;
		}
	}

	&__number {
		margin: 0px 0px 0px 15px;
		font-family: HelveticaNeue;
		font-size: 68px;
		font-weight: 100;
		color: #000000;
	}
	@media (max-width: 890px) {
		&__number {
			font-size: 45px;
		}
	}
	@media (max-width: 800px) {
		&__title {
			text-align: center;
			margin: 0px 0px 20px 0px;
		}
		&__items {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__image {
			margin: 0px 15px 10px 23px;
		}
		&__main {
			margin: 0px 0px 0px 38px;
		}
		&__info {
			margin: 30px 0px 0px 0px;
			flex: 0 1 100%;
			align-self: center;
			text-align: center;
		}
		&__sublabel {
			margin: 0px 0px 10px 0px;
		}
		&__numbers {
			justify-content: center;
		}
		&__vector {
			flex: 0 1 38px;
		}
		&__number {
			font-size: 35px;
			margin: 0px 0px 0px 10px;
		}
	}
	@media (max-width: 590px) {
		padding: 20px 0px 30px 0px;
		&__image {
			display: none;
		}
	}
	@media (max-width: 490px) {
		&__title {
			font-size: 30px;
			line-height: 32px;
		}
		&__column {
			margin: 15px 0;
		}
		&__label {
			font-size: 28px;
		}
		&__text {
			font-size: 22px;
			margin: 10px 0px;
		}
		&__info {
			margin: 10px 0px 0px 0px;
		}
	}
	@media (max-width: 425px) {
		&__photo {
			text-align: center;
			margin: 0px 0px 20px 0px;
		}
		&__main {
			margin: 0px 0px 0px 0px;
			flex: 0 1 100%;
		}
		&__info {
			margin: 20px 0px 10px 0px;
		}
		&__label {
			text-align: center;
		}
		&__text {
			margin: 10px 0;
			text-align: center;
		}
	}
}
.rating {
	display: flex;
	font-size: 21px;
	transition: all 0.3s ease 0s;
	&_sending {
		opacity: 0.2;
	}
	&_set {
		.rating__active,
		.rating__item {
			cursor: pointer;
		}
	}

	&__body {
		display: inline-block;
		position: relative;
		&:before {
			content: "★★★★★";
			display: block;
		}
	}

	&__active {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		overflow: hidden;
		&:before {
			content: "★★★★★";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			color: #ffd300;
		}
	}

	&__items {
		display: flex;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	&__item {
		flex: 0 0 20%;
		height: 100%;
		opacity: 0;
	}

	&__value {
		display: none;
		opacity: 0;
	}
	&__out {
		margin: 0px 0px 0px 12px;
		display: inline-block;
		font-family: HelveticaNeue;
		font-size: 16px;
		font-weight: 300;
		color: #b3b3b3;
	}
	@media (max-width: 425px) {
		justify-content: center;
	}
}
