// <ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ> ============================================================================
@import "nullstyle.scss";
body {
	font-size: 14px;
	color: #000;
	&.lock {
		overflow: hidden;
	}
}

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		display: none;
	}
}

// <ПОДКЛЮЧЕНИЕ ШРИФТОВ> ====================================================================================

// <ОБОЛОЧКА, КОНТЕЙНЕР> ====================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px;
}

// <ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ> ===============================================================================
@import "header.scss";
@import "content.scss";
@import "footer.scss";

// <ОСНОВНОЙ БЛОК> ============================================================================================
